.android .ui-page{background:#313131!important;}#missing-separator-popup,#overwrite-popup{max-width:400px;}
#result-dialog a{display:none;}#question-label{font-size:28pt;}#correction-label,#translation-label{font-size:24pt;}
#list-textarea{height:200px;}#practising-mode-choice-explanation{font-size:11pt;}